{% extends "base.html" %}
{% block title %}not found{% endblock %}
{% block section %}404{% endblock %}
{% block content %}
<section class="frame">
  <header class="frame__bar"><h1 class="frame__title">no such path</h1><span class="frame__meta">http 404</span></header>
  <div class="frame__body">
    <ul class="boot">
      <li><span class="dim">{{ role }}@dogfood:~$</span> cd {{ request.path }}</li>
      <li><span class="tag">[ ERR ]</span> no such file or directory</li>
    </ul>
    <div class="actions"><a class="btn" href="{% url 'public:home' %}">cd ~</a></div>
  </div>
</section>
{% endblock %}
